.checkbox {
  cursor: pointer;
}
fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  outline: none;

}

input {
  border-radius: 15px;
}

body {
  background-color: #FDEBCF;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  font-family: 'Josefin Slab', serif;
}
img {
  border-style: solid;
  border-width: 1px;
  border-color: #898989;
}

a {
 text-decoration: none;
}

a:hover {
 font-size: 2rem;
 color:white;
}
.box {
 height: 120px;
 width: 250px;
}
.container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 flex-wrap: nowrap;
}
.footer {
 margin-top: 30rem;
 margin-left: 36rem;
 padding-top: 6rem;
}
p::first-letter {
 font-size: 200%;
 color: green;
 border-width: 1px;
 border-color: green;
 border-style: solid;
 padding-top: 3px;
 padding-left: 2px;
 padding-right: 2px;
}
p:nth-child(3n){
 color: dodgerblue;
}
p:hover{
 font-size: 2rem;
 color:green;
}
i:hover {
 color:dodgerblue;
}
