.checkbox label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox label:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
.checkmark:after {
  display: block;
}
.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-tranform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  cursor: pointer;
}
fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 2px groove;
}

fieldset {
  border: none;
}
fieldset {
  display: inline;
}
input {
  border-radius: 15px;
}

body {
  background-color: #FDEBCF;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  font-family: 'Josefin Slab', serif;
}
img {
  border-style: solid;
  border-width: 1px;
  border-color: #898989;
}

a {
 text-decoration: none;
}

a:hover {
 font-size: 2rem;
 color:white;
}
.box {
 height: 120px;
 width: 250px;
}
.container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 flex-wrap: nowrap;
}
.footer {
 margin-top: 30rem;
 margin-left: 36rem;
 padding-top: 6rem;
}
p::first-letter {
 font-size: 200%;
 color: green;
 border-width: 1px;
 border-color: green;
 border-style: solid;
 padding-top: 3px;
 padding-left: 2px;
 padding-right: 2px;
}
p:nth-child(3n){
 color: dodgerblue;
}
p:hover{
 font-size: 2rem;
 color:green;
}
i:hover {
 color:dodgerblue;
}
