body {
  font-family: Arial, sans-serif;
}
.header {
  background-color: #00aeed;
  position: relative;
  left: 8rem;
  font-size: 16px;
  color: #FFFFFF;
  padding-top:2rem;
  padding-bottom: 2rem;
  padding-left: 8rem;
  margin-left: -10rem;
}
.section-header {
  color: #6ec6f1;
  position: relative;
  left: 6rem;
}
.p {
  position: relative;
  left: 6rem;
}
