body {
  font-family: Arial, sans-serif;
  position: relative;
  left: 58rem;
  top: 10rem;
}
h1 {
  font-size: 36px;
  font-family: Arial, sans-serif;
}

h3 {
  font-size: 18px;
  color: #121212;
}
P {
  font-size: 12px;
  color: #121212;
}
a {
  font-size: 12px;
  color: #6ec6f1;
}
figure {
  margin:0;
}
.white-text {
  color: #FFFFFF
}
header {
  background-color: #00aeed;
  padding-top:2rem;
  padding-bottom: 2rem;
}
.blue-text {
  font-size: 14px;
  color: #00aeed;

}
.navigation {
  background-color: #d7d7d7;
  padding-left: 6rem;
}
.link {
  color: #121212;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.header-text {
  font-size: 14px;
  color: #FFFFFF;
}
