body {
  font-family: Arial, sans-serif;
}
.aside {
  position: relative;
  left: 55rem;
  top: -36rem;
}
h1 {
  font-size: 36px;
  font-family: Arial, sans-serif;
}
h3 {
  font-size: 18px;
  color: #121212;
}
P {
  font-size: 12px;
  color: #121212;
}
a {
  font-size: 12px;
  color: #6ec6f1;
}
.figure {
  margin:0;
}
.white-text {
  position: relative;
  left: 8rem;
  color: #FFFFFF
}
.header {
  background-color: #00aeed;
  padding-top:2rem;
  padding-bottom: 2rem;
  padding-left: 8rem;
}

.blue-text {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 14px;
  color: #00aeed;
  position: relative;
  left: 15rem;
}
.navigation {
  background-color: #d7d7d7;
  padding-left: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.link {
  color: #121212;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  left: 15rem;
}
.header-text {
  position: relative;
  left: 8rem;
  font-size: 16px;
  color: #FFFFFF;
}

.footer-text {
  color: #FFFFFF;
  padding-bottom: 1rem;
}
.copyright {
  color: #FFFFFF;
  border-right: 1px solid white;
  position: relative;
  left: 568px;
}
.footer-links {
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
  left: 522px;
}
.footer-logo {
  color: #FFFFFF;
  position: relative;
  left: 555px;
  font-weight: bold;
  font-style: italic;
}
.footer {
  background-color: #464646;
  color: #FFFFFF;
  padding-bottom: 2rem;
  padding-top: 1rem;
  margin-top: -35rem;
}
.footer-text1 {
  position: relative;
  left: 535px;
  color: #FFFFFF;
}

.footer-navigation {
  padding-bottom: 2rem;
}
.body-text {
  position: relative;
  left: 15rem;
}
.body-header2 {
  position: relative;
  left: 15rem;
}
.body-text2 {
  position: relative;
  left: 15rem;
}
highlighted {
  color: #6ec6f1;
}
blockquote  {
  position: relative;
  left: 197px;
  color: #6ec6f1;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
